*{
    margin:0;
    padding:0;

}

body{
    background-color: darkorchid;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title-bar{
    color:white;
    text-align:center;
    padding:10px;

}
.container{
    
    color:white;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    
    
}
.container div{
    margin:10px;
   flex:0 0 23%;
   text-align:center;
   border :2pxsolid white;
   align-items: center;
   justify-content: center;
   padding:5px;
}