body{
    background-color: lightgray;

}
div{

}
.card
{
   width:300px;
   
   border:2px solid black;
   margin:40px auto;
   box-sizing:border-box;
   text-align: center;
   padding:30px;
   background-color: white;
}
.name{
    font-size:24px;
    color:blue;
    margin-bottom: 10px;

}
.role
{
    font-size:14px;
    color:green;
    margin-bottom:8px;
}
.desc
{
    font-size:12px;
    color:cadetblue;
    
}