body{
    background-color: blue;
    justify-content: center;
}


.container{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    width:100px;
    height:200px;
    justify-content: center;
    padding:10px;
}
.container div{
     flex-grow:1 ;
     margin:10px; 
     background-color: yellow;
     margin-left: 2px;
     margin-right: 2px;
     margin-top: 2px;
     margin-bottom: 2px;
     padding:10px;
     justify-content: space-between;
     display: flex;
}
