.one
{
    color:red;
    height:100px;
    width:100px;
    background-color: blue;
    border:5px,solid, black;
}
.two
{
    color:red;
    height:100px;
    width:100px;
    background-color:blue;
    margin-top:20px;
    border:5px,solid, black;
}
p{
    text-align: center;
    padding:30px;
}