*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.blue-container
{
    background-color: blue;
    display:flex;
    justify-content:center;
    flex-direction: column;
    height: 600px;
    width:300px;
    align-items: center;
}
.black-container
{
    background-color:yellow;
    display:flex;
    justify-content:center;
    flex-direction:column;
    height:300px;
    width:150px;
    padding:10px;
    align-items:center;
}

.cyan-container
{
    display: flex;
    
    height:100px;
    width:100px;
    
    flex-direction: column;
    align-items: center;
}
.cyan-container div{
    flex-grow: 1;
    background-color: cyan;

    
    margin-top:10px;
    margin-right:10px;
    margin-bottom:10px;
    margin-left:10px;
    margin:2px;
}

